body
{
	/* Background pattern from Toptal Subtle Patterns */
    background-image: url("img/tlo.png");
    font-family: 'Lato', sans-serif;
}
#container
{
    width: 1000px;
    margin-left: auto;
	margin-right: auto;
	border-radius: 20px;

}
#logo
{
    color: gray;
    margin-top: 20px;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 800;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
	font-family:Brush Script MT, Brush Script Std, cursive; ;
}
#menu
{
    background-color:#878787;
	margin-top: 20px;
	color: #ffffff;
    padding: 10px;
    line-height: 200%;
    margin: 0px;
	min-height: 38px;
	border-radius: 20px;
    
}
#topbar
{
    background-color:grey;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	height: 190px;
	border-radius: 20px;
}    
#topbarL
{
    float:left;
	padding: 20px;
	width: 138px;
	text-align: center;
	border-right: 2px dotted #cccccc;
	
}
#topbarR
{
    float: left;
	padding: 10px;
	width: 700px;
	font-size: 16px;
	text-align: left;
}

#content
{
    float: left;
	padding: 40px;
	width: 920px;
	background-color: grey;
	min-height: 580px;
    text-align: justify;
    text-align: center;
    color: white;
	font-size: 32px;
	border-radius: 20px;
}
.punkty
{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	
	
}
#footer
{
    clear: both;
	color: gray;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}
.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 20px;
	padding: 10px;
	border-right: 2px dotted #cccccc;
	opacity: 0.8;
	text-align: center;
	text-align: justify;
}
.option:hover
{
	background-color:#E9967B;
	cursor: pointer;
}
.bigtitle
{
	font-size: 32px;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
}

.dottedline
{
	height: 1px;
	margin-top: 2px;
	margin-bottom: 3px;
	border-bottom: 2px dotted #cccccc;
}